<h3>UseParameter</h3>
<CascadingValue Value="42" Name="Farbe">
    <ParameterComponent MyProperty="Hannes" style="color:red">

 @*       <p><input />
            <button class="btn btn-primary"></button></p>*@
            <Body></Body>
            <Head></Head>
    </ParameterComponent>
</CascadingValue>

@code {

}
